// Place all the styles related to the attachment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.file_from {
  width: 21%;
  padding-left: 8px;
}

div.file_title {
  width: 47%;
  padding-left: 8px;
}

div.file_date {
  width: 17%;
}

div.file_mail {
  width: 6%;
}

div.download {
  width: 6%;
}

div.viewer {
  width: 780px;
  margin: 0 auto;
  float: left;
  overflow: scroll;
}

div.sidebar {
  margin-left: 15px;
  width: 375px;
  float: right;
}

td.left_info {
  font-size: 80%;
  width: 30%;
}

td.right_info {
  font-size: 80%;
  width: 70%;
}

div.next_file_info, div.prev_file_info {
  margin-top: 20px;
}
