// Place all the styles related to the attachment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.file_from {
  width: 21%;
  padding-left: 8px;
}

div.file_title {
  width: 47%;
  padding-left: 8px;
}

div.file_date {
  width: 17%;
}

div.file_mail {
  width: 6%;
}

div.download {
  width: 6%;
}
