/*------------ SUB NAVIGATION BAR ------------*/
ul#group_list a:hover {
  color: #0071FF;
}

div.feed_box, div.group_feed_box {
  border-radius: 6px;
  background: #444;
}

div.feed_box {
  width: 380px;
  margin-left: 15px;
  float: left;
}

div.feed_box:first-child {
  margin-left: 0;
}

div.group_feed_box_wrapper {
  width: 468px;
  float: left;
}

div.group_feed_box {
}

div.group_feed_insight {
  width: 687px;
  margin-left: 15px;
  float: left;
}

#post_search {
  margin: 10px 0 0 15px !important;
}

/*---------------- SEARCH OPTIONS ----------------*/

div#post_search_options {
  background-color: #292929;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

#tweet_search {
  margin: 10px 0 0 15px !important;
}

div#post_date {
  width: 48%;
  float: left;
}

div#post_date input {
  width: 70%;
}

div#post_user {
  width: 48%;
  float: left;
}

div#post_user select {
  width: 80%;
  margin: 0 !important;
}

ul#search_menu li {
  float: left;
  padding-right: 15px;
}

ul#search_menu a:hover {
  text-decoration: none;
}

div.tweet_not_found {
  border: 1px solid #DDD;
  padding: 11px;
  border-radius: 4px;
  color: red;
  background: whiteSmoke;
}


/*---------------- SUBCONTENTS TITLE ----------------*/
div.feed_box_header {
  padding: 16px;
  border-bottom: 1px solid #E8E8E8;
}

div.feed_box_header a {
  color: #CFCFCF;
}

span.fb_logo {
  float: right;
  color: #3B5998;
  font-size: 150%;
  text-shadow: 1px 1px 0 #fff;
}

/*---------------- SUBCONTENTS BODY ----------------*/
div.feed_box_body {
  max-height: 700px;
  overflow-y: scroll;
  padding: 0 5px 0;
  color: #CFCFCF;
}

div.group_feed_box_body {
  padding: 0 5px 0;
  color: #CFCFCF;
}

li.member_post_wrapper{
  padding: 12px 5px 5px 5px;
  border-bottom: 1px solid #E8E8E8;
  overflow: hidden;
}
li.member_post_wrapper:last-child {
  border-bottom: none;
}

div.member_picture {
  float: left;
  width: 13%;
}

div.member_post {
  float: right;
  font-size: 70%; 
  height: 100%;
  width: 87%;
}

div.link_title a {
  color: #4e9dff !important;
}

div.post_user a {
  color: #0072FF;
  font-size: 120%;
}

/*---------------- EACH TYPE OF FEEDS ----------------*/
.link_wrapper {
  width: 100%;
}

.link_left {
  float: left;
  margin-right: 13px;
  height: 100%;
  width: 30%;
}

.link_right {
  float: left;
  font-size: 70%; 
  height: 100%;
}

.video_wrapper {
  width: 100%;
  padding: 3px;
}

.video {
  max-width: 270px;
  max-height: 170px;
}

/*---------------- GROUP FEED POST ACTIONS ----------------*/
div.post_likes {
  margin-bottom:3px;
}

div.post_like_left, div.post_comment_left{
  float: left;
  width: 24%;
}

div.post_like_right, div.post_comment_right {
  float: left;
  width: 76%;
}

/*---------------- GROUP FEED INSIGHT ----------------*/
div#post_num_wrapper,div#post_num_users,div#comment_num_wrapper,div#comment_num_users,div#like_num_wrapper,div#like_num_users {
  margin-bottom: 15px;
}

div#post_num_wrapper table, div#comment_num_wrapper table ,div#like_num_wrapper table {
  width: 100%;
}

div#post_num_wrapper th, div#comment_num_wrapper th ,div#like_num_wrapper th {
  border-bottom: 1px solid #ddd;
  font-size: 120%;
  padding: 15px;
  width: 33%;
  text-align: center;
  background-color: #f8f8f8;
  font-weight: normal;
  text-shadow: 1px 1px 0 #fff;
}

div#post_num_wrapper td, div#comment_num_wrapper td ,div#like_num_wrapper td {
  width: 33%;
  text-align: center;
  padding: 40px;
  font-size: 230%;
  color: #00b300;
}

div#group_pictures, div#group_members {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

div#pictures_header, div#group_members_header {
  padding: 15px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  text-shadow: 1px 1px 0 #fff;
  font-size: 110%;
}

div#pictures_body {
  padding: 9px;
}

div#group_members_body {
  padding: 10px 20px;
}


div#pictures_body img, div#group_members_body img {
  margin-bottom: 3px;
}



































