// Place all the styles related to the mail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* サブナビゲーション 
------------------------------- */
div#sub_nav_inner_ml {
  border-bottom: 1px solid #D1D1D1;
  border-radius: 6px 6px 0 0; 
  padding-left: 0px !important;
}

div#sub_nav_inner_ml ul.nav > li {
  border-right: 1px solid #D1D1D1;
  min-height: 50px;
  line-height: 2;
}

 /* Search Options 
------------------------------- */
div#search_option_wrapper {
  width: 95%;
  margin: 0 auto 10px;
}

div.search_option, div.date_list, div.insight {
  padding: 6px;
  background-color: #292929;
  border-radius: 4px;
  overflow: hidden;
}

div.filter_box a, div.sort_box a {
  text-decoration: none;
}

div.search_option > div {
  width: 25%;
  min-height: 32px;
  max-height: 32px;
}

div.search_option form {
  margin: 0 !important;
  padding: 0 !important;
}

div.filter_box {
  line-height: 32px;
}

div.sort_box {
  line-height: 32px;
}

div.sender_box {
}

div.search_box {
}

 /* Mails
------------------------------- */
div#all_mail_wrapper {
}

div.counter {
  width:95%;
  height: 20px;
  text-align: right;
  margin: 0 auto 5px;
}

div.mail_wrapper {
  height: 30px;
  width: 95%;
  margin: 0 auto 5px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  background: #EBEBEB;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.mail_wrapper div {
  font-weight: bold;
  min-height: 28px;
  line-height: 28px;
  overflow: hidden;
}

div.mail_parts {
  float: left;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
  font-size: 11px;
}

div.from {
  width: 21%;
  padding-left: 8px;
}

div.title {
  width: 53%;
  padding-left: 8px;
}

div.date {
  width: 17%;
}

div.attachment {
  width: 6%;
}

div.mail_parts:first-child {
  border-left: none; 
}

div.mail_parts:last-child {
  border-right: none; 
}

div.date_list {
}

div.date_list_head, div.insight_head {
  border-bottom: 1px solid #ccc;
  color: #F89406;
  text-align: center;
  font-weight: bold;
  padding: 3px 0 6px;
}

div.date_list_contents, div.insight_contents {
  padding: 6px 0;
}

div.insight {
  margin-top: 10px;
}

div.insight td {
  color: #FFF;
}
