<div class="" style='width:33%;margin:0;float:left;text-align:center;'>
  <a class="twitter-timeline" 
     href="https://twitter.com/mogulla3/lab-es" 
     data-widget-id="255700094605729795" 
     width="380">先生・コーチ・eスクール生</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
