<script>
  $(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'post_num_users_pie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                borderWidth: 1,
                borderColor: "#ddd",
                backgroundColor: "#f8f8f8"
            },
            title: {
                text: <%= "'投稿数の比較'" %>
            },
            subtitle: {
text: <%= "'グループ「#{@group_name.name}」'" %>
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'グループ内での投稿比率',
                data: [
                      <% @post_users_ranking.each do |user| %>
                        <%= "['#{user.fb_name}', #{user.counter}]," %>
                      <% end %>
                      ]
            }]
        });
    });
    
});
</script>
<div id="post_num_users_pie" style="width: 687px; height: 350px;"></div>
