<%= stylesheet_link_tag "inside/facebook", :media => "all" %>
<%= stylesheet_link_tag "inside/twitter", :media => "all" %>

<%# Facebook サブナビゲーション %>
<%= render 'fb_subnavi' %>

<div class='contents clearfix'>
  <% #3グループのみ出力する設定（将来的には横に無限に伸ばせてもいいかも） %>
  <% i = 0 %>
  <% 3.times do %>
    <%= render 'feed_box', feeds: @feeds[i], num: i %>
    <% i += 1 %>
  <% end %>
</div>
